body {
    background-image: linear-gradient(blue, pink);
}
.logo-png {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    width: 50px;
}

.border-bottom {
    border-bottom: 2px dashed #000;
}

.street-png {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    width: 100px;
}
div {
    width: 900px;
    text-align: center;
}

div>img:hover {
    border-radius: 24px;
}

footer {
    height: 100px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
    background: repeating-linear-gradient(45deg, var(--grey), var(--grey)
    50px, var(--black) 50px, var(--black) 100px);
    border-radius: 24px;
    padding-top: 40px;
}